<!-- render from 'views/lists/show.html.erb' -->

<div id="item-lookup">
  <%= form_tag(search_book_path(:list_id => @list.id), id: 'item-lookup-form', remote: true, method: :get) do %>
  <div class="form-group row no-padding text-center col-md-12">
    <div class="col-md-10">
      <!--<input name="query" type="text" value="" width="100" placeholder="搜尋並按Enter送出" />-->
      <%= text_field_tag :query ,
      params[:query],
      placeholder: '搜尋書名',
      autofocus: true,
      class: 'form-control search-box input-lg' %>
    </div>
    <div class="col-md-2">
      <%= button_tag(type: :submit, class: 'btn btn-lg btn-success') do %>
        <i class='fa fa-search'></i> <label id="confirm-submit">確認</label>
      <% end %>
      <!--input class="btn" type="submit"  value="確認" width="48" height="30"-->
    </div>
  <% end %>
  
  <%= render 'shared/spinner' %>
  
  <% if @book_items %>
    <div id="item-lookup-results">
      <%= render '/search/show_result'%> <!--產生result  的 partial -->
    </div>
    <% if @list.articles.any? %>
      <p> <%= render 'articles/article', obj:@list.articles %> </p>
    <% end %>
  <% end %>
  <div id="item-lookup-errors"></div>
  
</div>