
<h1><%= @list.name %> by <%= @list.user.nick_name %></h1>

<%  if current_user and current_user.id == @list.user.id  %>
<%#= render 'search_books' %>
  <div id="item-lookup">
    <%= form_tag('/search_book', id: 'item-lookup-form', remote: true, method: :get, data: { list_id: @list_id }) do %>
      <div class="form-group row no-padding text-center col-md-12">
       <div class="col-md-10">
        <!--<input name="query" type="text" value="" width="100" placeholder="搜尋並按Enter送出" />-->
        <%= text_field_tag :query ,
          params[:query],
          placeholder: '搜尋書名',
          autofocus: true,
          class: 'form-control search-box input-lg' %>
      </div>
      <div class="col-md-2">
        <%= button_tag(type: :submit, class: 'btn btn-lg btn-success') do %>
          <i class='fa fa-search'></i> <label id="confirm-submit">確認</label>
        <% end %>
        <!--input class="btn" type="submit"  value="確認" width="48" height="30"-->
      </div>
    <% end %>

    <%= render 'shared/spinner' %>

    <% if @book_items %>
      <div id="item-lookup-results">
        <div id="item-result" >
          <table class="table table-hover">
            <thead>
              <tr>
                <th>
                  搜尋結果
                </th>
                <th>

                </th>
                <th>

                </th>
                <th>

                </th>
              </tr>
            </thead>
            <tbody>
              <% @book_items[0].count.times do |books| %>
                <tr>
                  <td>
                    <%= "#{books+1}" %>

                  </td>
                  <td>
                    <%= image_tag @book_items[2][books], id:"image_select", alt: "book-image", class: "img-thumbnail" %>
                  </td>
                  <td>
                    <%= link_to @book_items[0][books], @book_items[1][books],:target => "_blank"%>
                  </td>    
                  <td>

                    <%= link_to "加入書單", article_lists_path(list_id: @list.id, item_name: @book_items[0][books], item_link: @boook_items[1][books], item_image: @book_items[2][books]), class: 'btn btn-xs btn-success', method: :post %>

                  </td>
                </tr>
              <% end %>
            </tbody>
          <table>
        </div>
      </div>
    <% end %>
    <div id="item-lookup-errors"></div>
  </div>
<% end %>

<% if @list.articles.any? %>
  <p> <%= render 'articles/article', obj:@list.articles %> </p>
<% end %>