
<h1><%= @list.name %> by <%= @list.user.nick_name %></h1>

<%  if current_user and current_user.id == @list.user.id  %>
<%#= render 'search_books' %>
  <div id="item-lookup">
    <%= form_tag(search_book_path(:list_id => @list.id), id: 'item-lookup-form', remote: true, method: :get) do %>
      <div class="form-group row no-padding text-center col-md-12">
       <div class="col-md-10">
        <!--<input name="query" type="text" value="" width="100" placeholder="搜尋並按Enter送出" />-->
        <%= text_field_tag :query ,
          params[:query],
          placeholder: '搜尋書名或是商品網址',
          autofocus: true,
          class: 'form-control search-box input-lg' %>
      </div>
      <div class="col-md-2">
        <%= button_tag(type: :submit, class: 'btn btn-lg btn-success') do %>
          <i class='fa fa-search'></i> <label id="confirm-submit">確認</label>
        <% end %>
        <!--input class="btn" type="submit"  value="確認" width="48" height="30"-->
      </div>
      <%= render 'shared/spinner' %>
    
    <% end %>

    

    <% if @book_items %>
      <div id="item-lookup-results">
        <%= render 'serch/show_result' %>
      </div>
    <% end %>
    <div id="item-lookup-errors"></div>
  </div>
<% end %>

<% if @list.articles.any? %>
  <p> <%= render 'articles/article', obj:@list.articles %> </p>
<% end %>