<!--如果未登入就做成臨時的list，可以馬上登入以存入此list -->
<!-- 專門用來產生result的partial-->
<!-- render from '_search_books.html.erb' -->

<div id="item-result" >
  <table class="table table-hover">
    <thead>
      <tr>
        <th>
          搜尋結果
        </th>
        <th>

        </th>
        <th>

        </th>
        <th>
          <%= link_to '取消並回到上一頁', "#{request.referrer}"%>
        </th>
      </tr>
    </thead>
    <tbody>
      <% @book_items[0].count.times do |books| %>
        <tr>
          <td>
            <%= "#{books+1}" %>

          </td>
          <td>
            <%= image_tag @book_items[2][books], id:"image_select", alt: "book-image", class: "img-thumbnail" %> 
          </td>
          <td>
            <%= link_to @book_items[0][books], @book_items[1][books],:target => "_blank"%> 
          </td>    
          <td>
             <%= link_to "新增至清單", article_lists_path(:item_name => @book_items[0][books],:item_link => @book_items[1][books], :item_image => @book_items[2][books], :list_id => @list.id),  class: 'btn btn-xs btn-success', method: :post  %>
            
          </td>
        </tr>
      <% end %>
    </tbody>
  <table>
</div>
