<!--如果未登入就做成臨時的list，可以馬上登入以存入此list -->
<!-- 專門用來產生result的partial-->
<!-- render from '_search_books.html.erb' -->

<div id="item-result" >
  <table class="table table-hover">
    <thead>
      <tr>
        <th>
          搜尋結果
        </th>
        <th>

        </th>
        <th>

        </th>
        <th>
          <%= link_to '取消並回到上一頁', "#{request.referrer}"%>
        </th>
      </tr>
    </thead>
    <tbody>
      <% @book_items.each_with_index do |books, index| %>
        <tr>
          <td>

            <%= "#{index+1}" %>
          </td>
          <td>
            <%= image_tag books[:book_image], id:"image_select", alt: "book-image", class: "img-thumbnail" %>
          </td>
          <td>
            <%= link_to books[:book_name], books[:book_link],:target => "_blank"%>
          </td>
          <td>
             <%= link_to "新增至清單", article_lists_path(item_name: books[:book_name], item_link: books[:book_link], item_image: books[:book_image], :list_id => @list.id),  class: 'btn btn-xs btn-success', method: :post  %>
          </td>
        </tr>
      <% end %>
    </tbody>
  <table>
</div>
